
<br>

<div class="row">
  <div class=" col-md-5 text-center container">
    <p class="text-info"><%= notice %></p>
    <h1 class="display-6"><%= project.title %></h1>
    <br>
    <p class="lead"><%= project.description %></p>
  </div>
</div>



