<%= render 'layouts/jumbotron' %>

<div class="bg-light">
  <div class="container-fluid">
    <div class="row row-cols-sm-3 m-4">
      <% @projects.each do |project| %>
        <div class="col">
          <div class="card bg-light shadow-sm m-2">
            <div class="card-header h5"><strong><%= project.title%></strong></div>
            <div class="card-body">
              <p class="card-text text-truncate"><%= project.description%></p>
              <%= link_to "Show Project", project_path(project.id), id: "projects/#{project.id}", class: "link-dark" %> 
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
