<%= render "form", project: @project %>

<div class="row">
  <div class=" col-md-5 text-center container">
    <%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary" %>
  </div>
</div>