<%= render @project %>

<div class="row">
  <div class=" col-md-5 text-center container">
    <br>
    <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-secondary" %>
    <p></p>
    <%= button_to "Destroy project", @project, method: :delete, class: "btn btn-outline-secondary" %>
    <p></p>
    <%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary" %>
  </div>
</div>
