<!doctype html>

<div class="p-5 mb-4 bg-white rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Portfolio</h1>
        <p class="col-md-8 fs-4">
            This portfolio has been created using Ruby on Rails and is designed to hold projects. 
        </p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>