<!doctype html>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <p class="text-info"><%= notice %></p>
        <h1 class="display-5 fw-bold">CS 3300 Portfolio</h1>
        <p class="col-md-8 fs-4">
            My name is Eli, I'm currently studying computer science at UCCS. This portfolio has been 
            created using Ruby on Rails and is designed to hold projects. 
        </p>
        <a class="btn btn-outline-secondary btn-lg" href="/projects/new">Add a Project</a>
    </div>
</div>